body {
    margin: 0em;
    padding: 0em;
    border: 0rem;
    box-sizing: border-box;
}
#roskapeli {
    background: rgb(205, 236, 205);
    border: solid black 1px;
    
}



@media only screen and (min-width: 800px){

#roskapeli {
    width: 95%
}

#roska {
    width: 75%
}

#buttongroup {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}

button {
    height: 50px;
}
}