body {
    margin: 0em;
    padding: 0em;
    border: 0rem;
    box-sizing: border-box;
}
#roskapeli {
    background: rgb(205, 236, 205);
    border: solid black 1px;
    
}



@media only screen and (max-width: 1000px){
    body {
        margin: 0em;
        padding: 0em;
        border: 0rem;
        box-sizing: border-box;
    }
#buttongoup {
    padding:100px;
    position: relative;
}

button {
    width: 18%; 
    height: 50px;
    
}
}